<!--
  This component represents the account of the logged in user. The user can
  log out here, change the account information and profile picture. The user
  can view the started courses and the progress that was made on a specific
  course. Any started course can be closed on this page.
-->
<div class="container">
  <div class="row">
    <div class="col-4-md"></div>
    <div class="col-4-md"id="my-account">My account</div>
    <div class="col-4-md"></div>
  </div>
  <div class="row">
    <div class="col-2-md"></div>
    <div class="col-2-md"></div>
    <div class="col-2-md"></div>
  </div>
  <div class="row">
    ...
  </div>
</div>
