<app-page-header></app-page-header>
<div class="col col-md-2"></div>
<div class=" col col-md-8">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="my-account">My account</div>
    </div  >
    <div class="row">
      <div class="col-md-3" id="info">Here you can edit your account’s informations, courses you started and the
        progress
        for each one.
        Contact us at contact@alexateachme.com, if you need any help.
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" id="btn_log">
        <button type="button" class="btn btn-primary" id="log" (click)="toLogout()">LOG OUT</button>
      </div>
    </div>
    <div class="container2" *ngIf="user">
      <div class="row">
        <div class="col-md-12" id="account_info">Account Informations</div>
      </div>
      <div class="row">
      <!--<form action="/upload" method="post" enctype="multipart/form-data">-->
        <div class="col-md-2" id="img">
          <img *ngIf="url" [src]="url" alt="no image" class="image">
          <input *ngIf="!url" type="image" class="image" alt="user image"
                 [src]="'http://192.168.151.36:8000/' + user.Path" ></div>
        <!--</form>-->
        <div class="col-md-2" id="information">To quickly change your profile picture, just drag&drop an image or upload
          a file.
          Image selected, should have maximum 15 MB size.
        </div>
        <div class="col-md-2" id="form">
          <form #f="ngForm">
            <div class="form-group">
              <!--<input type="text" class="form-control" id="username" placeholder="username">{{user.FirstName}}</div>-->
              <input type="text" name="firstName" size="13" id="firstName" [(ngModel)]="user.FirstName"
                     placeholder="first name"><input type="text" size="13" name="lastName" id="lastName" [(ngModel)]="user.LastName"
                                                     placeholder="last name" ></div>
            <div class="form-group"><label><input type="text" class="form-control" id="exampleInputEmail1" name="mail"
                                            [(ngModel)]="user.Mail" readonly size="34"></label>
            </div>
            <div class="form-group">

              <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="Password" [(ngModel)]="user.Password" readonly>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 50px;" (click)="save(user.FirstName, user.LastName, user.Mail)">Save</button>
            <button type="reset" class="btn btn-default" style="margin-left: 30px;">Cancel</button>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <!--<label for="upload" class= "btn" > Select Image</label>-->
          <input type="file" class="custom-file-input" id="upload" name="Image" accept="image/png, image, jpeg" style="display:none"
                 (change)="onSelectFile($event)"/>
          <label for="upload" id="upload1">Upload</label>

          <!--<button type="button" class="btn btn-default" id="upload">Upload file</button>-->
          <!--</div>-->
          <!--<div class="col-md-3"></div>-->
          <!--<div class="col-md-2" id="save">-->
          <!--<button type="submit" class="btn btn-primary">Save</button>-->
          <!--</div>-->
          <!--<div class="col-md-2" id="cancel">-->
          <!--<button type="reset" class="btn btn-default" >Cancel</button>-->
        </div>
      </div>

      <div id="courses">
        <hr id="hr">
        <br>
        <h1>Started Courses</h1>
        <ng-container class="row" *ngFor="let course of courses" id="all">
          <div *ngIf="course.getScore()>0">
            <div id="cours">
              <div class="col-md-2">
                <input type="image" id="image1" alt="user image" src={{course.getImg()}}></div>
              <div class="col-md-7"><p id="write"> {{course.getTitle()}}</p>
                <small>{{course.getMinDescription()}}</small>
              </div>
              <div class="col col-md-2" id="score"> {{course.getScore()}}<br> points</div>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="col col-md-12">
                <div class="progress md-progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

