<app-register></app-register>
<!--
  This is the main component displayed to ther user. It is linked to the 'courses'
  page in the navigation bar. It contains some components, including the list of 
  courses categories. Every category links to the courses list, by category.
  Categories can be searched through, and there's a link to display more categories.
-->
<div class="container">
  <div class="row clearfix">
    <p>
      dashboard works!
    </p>

    <p>
      This is my first Pull request
    </p>
  </div>

</div>
