<app-page-header></app-page-header>

<div class="container">

  <div class="row">

    <form (ngSubmit)="edit(f)" #f="ngForm">
      <div class="form-group">
        <label for="firstname"> First name </label>
        <input type="text" name="FirstName" id="firstname" class="form-control" [ngModel]="user.FirstName" required  #firstname="ngModel">
        <span class="help-block" *ngIf="!firstname.valid && firstname.touched"> Please enter name! </span>
      </div>

      <div class="form-group">
        <label for="lastname"> Last name </label>
        <input type="text" name="LastName" id="lastname" class="form-control" [ngModel]="user.LastName" required  #lastname="ngModel">
        <span class="help-block" *ngIf="!lastname.valid && lastname.touched"> Please enter surname! </span>
      </div>

      <button class="btn btn-primary" type="submit"> Submit </button>
      </form>
  </div>

</div>
