 <app-page-header></app-page-header>

<div class="container">

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="title"> Title </label>
        <input type="text" id="title" formControlName="title" class="form-control">
      </div>

      <div class="form-group">
        <label for="summary"> Summary </label>
        <input type="text" maxlength="70" id="summary" formControlName="summary" class="form-control">
      </div>

      <div class="form-group">
        <label > Description </label><br>
        <textarea rows="2"  maxlength="150"> </textarea>
      </div>


      <div formArrayName="chapters">
        <h4> Chapters </h4>
       <label> <button class="btn btn-primary" type="button" (click)="onAddChapter()"> Add chapter </button></label>
        <div class="form-group" *ngFor="let chapterControl of courseForm.get('chapters').controls; let i = index">
          <label >Chapter title</label>
          <input type="text"  class="form-control" [formControlName]="i">
        </div>
        <div class="form-group" *ngFor="let chapterControl of courseForm.get('chapters').controls; let i = index">
            <label >Content</label><br>
            <textarea rows="3" cols="140" maxlength="500"> </textarea>
          
        </div>
      </div>

      <div formArrayName="questions">
          <h4> Questions </h4>
         <label > <button class="btn btn-primary" type="button" (click)="onAddQuestions()"> Add questions </button></label>
          <div class="form-group" *ngFor="let questionsControl of courseForm.get('questions').controls; let i = index">
            <label >Question title</label><br>
            <input type="radio"><input type="text" maxlength="70" class="form-control" [formControlName]="i"> 
          </div>
          <div class="form-group" *ngFor="let questionsControl of courseForm.get('questions').controls; let i = index">
              <label >Content</label><br>
              <textarea rows="3" cols="140" maxlength="500"> </textarea>
  
          </div>
        </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit"> Create </button>
      </div>


  </form>
  <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

