li>a{
  color: darkblue;
  font-size: 16px;
  font-weight: lighter;
}

#myNavbar{
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}

.margin{
  padding-right: 10em;
}

.navbar-brand{
  padding-top: 1.4em;
  padding-left: 6em;
}
