.reset{
   
    background-image: url('../../../../assets/images/bg_image.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #07182e;
    background-size: cover;
    margin-bottom: -1em;
    background-size:auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
        display: inline-block;
        text-align: center;
        width: 400px;

    }
.let-s-reset-your-pas {
    height: 96px;
    width: 100%;
    color: #F7F7F7;
    font-size: 36px;
    line-height: 42px;
    text-align: center;  
    }
.you-re-sorry {
        height: 52px;

        opacity: 0.5;
        color: #F7F7F7;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

.btn{
        background-color: #006FFF;
        font: bold;
        
}
.help-block{
        color: red;
    }
