.section {
  height: 26.5em;
  background-image: url('../../../../assets/images/bg_image.png');
  background-repeat: no-repeat;
  background-color: #272340;
  background-position-x: -8em;
  background-position-y: -26em;
}

.title {
  color:white;
  font-weight: bold;
  font-size: 23px;
}

.subtitle {
  color:white;
  font-weight: lighter;
  font-size: 17px;
}

.section>.container{
  padding-top: 9em;
}

.tags{
  width: 10em;
  color: white;
  border-radius: 7px;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 18px;
}

.tags>p{
  text-align: center;
  margin-bottom: -3px;
}


