<div class="section">

  <div class="container">

  <div class="row" *ngIf="showCourse">
    <div class="col col-md-2"></div>
    <div class="col col-md-5">
      <div class="tags" [ngStyle]="{'background': categoryBackground}"> <p> {{ categoryTitle | uppercase }} </p> </div>
    </div>
  </div>

  <div class="row">

    <div class="col col-md-2"></div>
    <div class="col col-md-9">
      <p class="title">
        {{ title }}
      </p>
    </div>

  </div>

  <div class="row">

    <div class="col col-md-2"></div>
    <div class="col col-md-6">
      <p class="subtitle">
        {{ subtitle }}
      </p>
    </div>

  </div>
  </div>
</div>
