<app-page-header></app-page-header>
<app-page-section-small></app-page-section-small>
<div class="container">
  <div class="row" *ngFor="let question of questions">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading question divinline"><div class="space">Q:</div> {{ question.getText() }} </div>
      </div>
      <div class="panel costum">
        {{ log(question.getId()) }}
        {{ loadAnswersFromQuestion(question.getId()+1) }}
        <div class="panel-body divinline" *ngFor="let answer of answers">
          <div class="space">
            <label class="checkbox">

              <input type="radio" [name]="question.getId()">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="answer"> {{ answer.getText() }} </div>
        </div>
      </div>
    </div>
  </div>

</div>


