.container{
  margin-top: 2em;
}

.panel {
  width: 100%;
  margin-bottom: 3em;
}

.question {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.answer {
  font-weight: lighter;
  font-size: 16px;
  color: darkgrey;
  padding-top: 0.7em;
}

.space {
  padding-right: 1em;
}

.costum{
  border-width: thin;
  border-color: darkgrey;
}

.divinline{
  float: left;
  clear: none;
  margin-left: 1em;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel-heading {
    background-color: darkblue;
    border-color: darkblue;

}
hr {
  margin-top: 2em;
}

.list-group-item {
  margin-top: -1.5em;
}
.divinline2>button{
  float: right;
  clear: none;
}
.margin{
  margin-right: 1em;
}
.btnstart {
  width: 8em;
  margin-bottom: 2em;
  color: grey;
  border-color: grey;
}
.btnstart:hover {
  color: white;
  border-color: darkblue;
}
.btnright {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.btnleft {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.pdd {
  padding-right: 3em;
}
.btndiscover{
  margin-right: 1em;
}
#editq{
  color:white;
  border: none;
  background-color: darkblue;
  width: 600px;
  text-indent: 20px;

}
.prel {
  width: 10em;

}
.glyphicon{
    size: 10px;
    background-color: transparent;
    border: transparent;
}
.qname{
  width: 100%;
}
.createq{
  border: 25px red;
}

.bcg{
  border: none;
  background-color:transparent;
  width: 600px;
  text-indent: 20px;

}
#edita{
  height: 35px;
  border: none;
  background-color: transparent;
  width: 600px;
  text-indent: 20px;

}