<app-page-header></app-page-header>

<app-page-section [title]="title" [subtitle]="subtitle"></app-page-section>

<div class="container">

<div class="alert alert-warning" *ngIf="!len; else found">
    <strong>Warning!</strong> There are no courses in this category.
  </div>

<ng-template #found>

  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-10 margin">
     <div class="alert alert-danger" *ngIf="error">
        <strong>Error!</strong> Course with id {{ course_id }} does not exist in category with id {{ id }}. Please choose another category.
      </div>
      <div class="col col-md-3 rectangle" *ngFor="let course of courses | async" [routerLink]="link + 'course/' + course.id">

        <img src="{{ course.img }}">

        <div>

          <p class="title"> {{ course.title }} </p>

          <p class="describe"> {{ course.description }} </p>

          <div class="divinline">

            <div class="tags" [ngStyle]="{'background': categoryBackground | async}"> <p> {{ categoryTitle | async }} </p> </div>
            <div> &nbsp;<span class="glyphicon glyphicon-time" aria-hidden="true"></span>2h course </div>

          </div>




        </div>

      </div>

    </div>

  </div>
</ng-template>
  <div class="row" *ngIf="len > 6">
    <div class="col col-md-6"></div>
    <div class="col-col-md-1"><button class="btndiscover" (click)="load()"> {{ text }} </button></div>
    <div class="col col-md-5"></div>
  </div>



</div>
