<div class="section">

  <div class="title">
    Browse through best learning course for Alexa
  </div>
  <div class="subtitle">
    Pick the one you like and start learning
  </div>

</div>
<div class="container">

  <div class="row">

    <div class="col col-md-3"></div>
    <div class="col col-md-6">

      <div class="search">
        <input type="text" placeholder="    search here...">
        <button type="submit" class="btn btn-primary mybtn"> Search </button>
      </div>

    </div>
    <div class="col col-md-3"></div>

  </div>

  <div class="row margin">

    <div class="col col-md-3"></div>
    <div class="col col-md-8">
      <div class="col col-md-2 rectangle color1" *ngFor="let data of datas"> <p> <a [routerLink]="data.getId()"> {{ data.getTitle() }}</a> </p> </div>
    </div>
    <div class="col col-md-1"></div>
  </div>

  <div class="row">
    <div class="col col-md-6"></div>
    <div class="col-col-md-1"><button class="btndiscover" (click)="load()"> {{ text }} </button></div>
    <div class="col col-md-5"></div>
  </div>

</div>
