.register{
   
    background-image: url('../../../../assets/images/bg_image.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #07182e;
    background-size: cover;
    margin-bottom: -1em;
    background-size:auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
        
        display: inline-block;
        text-align: center;   
    }

.terms{
    color:white;
}
p{
    color: white;
    text-align: center;
}
p.create-a-new-account{
    height: 96px;
    color: #F7F7F7;
    font-size: 36px;
    text-align: center;  
}
p.you-re-one-step-closer{
    height: 52px;
    opacity: 0.5;
    color: #F7F7F7;
    font-size: 20px;
    text-align: center;  
}
.btn{
    background-color: #006FFF;
    font: bold;
    
}
.help-block{
    color: red;
}