.register{
   
    background-image: url('../../../../assets/images/bg_image.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: #07182e;
    margin-bottom: -1em;
}

form {
        
        display: inline-block;
        margin-top: 40%;
        margin-left: 60%;
    }

.terms{
    color:white;
}
