
<div class="register">
<div class="container">
  <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-lg-5">
        <p class="you-re-one-step-closer col-xs-12">You're one step closer</p>
        <p class="create-a-new-account col-xs-12">Create a new account</p>
      </div>

      <div class="col-md-5">
 <form (ngSubmit)="validation(f)" #f="ngForm" class="col-sm-12">
    <div class="form-group">
      <input type="text" class="form-control input-lg" name="FirstName"  pattern="[a-zA-Z-]*" title="Must contain only characters" required id="firstname" id="firstname" ngModel required firstname #firstname="ngModel" placeholder="first name">
     
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-lg" name="LastName" pattern="[a-zA-Z-]*" title="Must contain only characters" required id="lastname"  id="lastname" ngModel required lastname #lastname="ngModel" placeholder="last name">
      
    </div>

    <div class="form-group">
      <input type="email" class="form-control input-lg" name="Mail"  id="email" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required id="email"  id="email" ngModel required email #email="ngModel" placeholder="email">
      
    </div>
    
    <div class="form-group">
      <input type="password" class="form-control input-lg" name="Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.,$@$!%*?&])[A-Za-z\d$@$!%*?&.,#()_-]{8,15}" title="Must contain at least one number, one uppercase letter, one lowercase letter and at least 8 or more characters" required id="password" ngModel required password #password="ngModel" placeholder="password">
      

    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary form-control input-lg"  [disabled]="!f.valid"><b>CREATE ACCOUNT</b></button>

    </div>
    <div class="terms">
    <div class="form-group">
      <input type="checkbox" name="checkbox"  ng-model="check" id="checkbox" ngModel required checkbox #checkbox="ngModel"> I agree with Terms and Conditions
      
    </div></div>

<div>
 <span class="help-block" *ngIf="!firstname.valid && firstname.touched"> Please enter your first name! </span>
<span class="help-block" *ngIf="!lastname.valid && lastname.touched"> Please enter your last name! </span>
<span class="help-block" *ngIf="!email.valid && email.touched"> Please enter your valid email! </span>
<span class="help-block" *ngIf="!password.valid && password.touched"> Please enter a valid password! </span>
<span class="help-block" *ngIf="!checkbox.valid && checkbox.touched"> Please agree Terms and Conditions! </span>

</div>
  </form>

      </div>
      <div class="col-md-1">&nbsp;</div>

 

</div>
</div>
</div>