<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="welcome">Welcome back</p>
        <p class="youracc">Login to your account</p>
      </div>
      <div class="col-md-6">
        <form (ngSubmit)="validation(f)" #f="ngForm" class="col-sm-12">
          <div class="form-group">
            <input type="email" class="form-control input-lg" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="Mail" email ngModel required email #email="ngModel" placeholder="email adress">

          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" name="Password" ngModel required password #password="ngModel" placeholder="• • • • • • • •">

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control input-lg" [disabled]="!f.valid" >
              <b>SIGN IN</b>
            </button>
          </div>
          <p>
            Forgot password?
            <a routerLink="/forgot" routerLinkActive="active">
              <u>Reset it</u>
            </a>
          </p>
          <span id="true"> </span>
          <div>
            <span class="help-block" *ngIf="!email.valid && email.touched"> Please enter your valid email! </span>
            <br>
            <span class="help-block" *ngIf="!password.valid && password.touched"> Please enter your password! </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row2">
      <div class="col-md-12 signupbar">
        <p class="sup">Don't have an account?
          <button type="submit" class="btn btn-primary form-group">
            <a routerLink="/register">
              <b>SIGN UP</b>
            </a>
          </button>
        </p>
      </div>

    </div>
  </div>
</div>

