<body>
<div class="container">
  <form class="form">
    <div class="form-group">
      <input type="text" class="form-control" name="first_name" value="" id="first_name" placeholder="first name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="last_name" value="" placeholder="last_name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="mail" value="" placeholder="mail">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" value="" placeholder="password">
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-primary " name="create" value="CREATE ACCOUNT">
    </div>

    <div class="form-group">
      <input type="checkbox" name="check" value="1" > I agree with Terms and Conditions
    </div>
  </form>
</div>
</body>
