.login{
   
    background-image: url('../../../../assets/images/bg_image.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #07182e;
    background-size: cover;
    margin-bottom: -1em;
    background-size:auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2{
    position: absolute;
    bottom: 33px;

} 

form{
        display: inline-block;
        text-align: center; 
        width: 110%;
}

p{
    color: white;
    text-align: center;   
}
.youracc{
        height: 96px;
        width: 353px;
        color: #F7F7F7;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
}

.welcome{
        text-align: center;
        height: 52px;
        opacity: 0.5;
        color: #F7F7F7;
        font-size: 20px;
        line-height: 24px;
        
}


.btn{
    background-color: #006FFF;
    font: bold;
    color: white;
    
}
.help-block{
    color: red;
    display: inline-block;
} 
.signupbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  a {
    color: #ffffff;
    }
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
      }
      #true{
          color: red;
          border: 1px chartreuse;
      }

