<div class="forgot">
  <div class="container">
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      <form (ngSubmit)="validation(f)" #f="ngForm" >
        <div class="form-group">
          <input type="email" class="form-control input-lg" name="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required id="email" id=""email ngModel required email #email="ngModel" placeholder="Email">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary form-control input-lg" [disabled]="!f.valid"><b>SEND</b></button>
        </div>
        <div><span class="help-block" *ngIf="!email.valid && email.touched"> Please enter your valid email! </span>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>
  </div>
</div>
<!-- M mare la next update -->