.forgot{
   
    background-image: url('../../../../assets/images/bg_image.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #07182e;
    background-size: cover;
    margin-bottom: -1em;
    background-size:auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #006FFF;
    font: bold;
    
}
.help-block{
    text-align: center;
    color: red;
}