.section {
  height: 30em;
  background-image: url('../../../../assets/images/bg_image.png');
  background-repeat: no-repeat;
  background-color: #272340;
  background-position-x: -8em;
  background-position-y: -22em;
}


.section>.title {
  color:white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-top: 7em;
}

.section>.subtitle {
  color:darkgrey;
  font-size: 17px;
  text-align: center;
}
