<app-page-header></app-page-header>
<div *ngIf="dellAll">
  <button type="button" class="sticky" id="sticky" (click)="deleteAll()" style="float: right">Delete All</button>
</div>
<div class="container_allusers">
  <!--<div class="row">-->
  <!--<div class="col-md-8"></div>-->
  <!--<div class="col-md-2">-->
  <!--<div *ngIf="deleteAll === true">-->
  <!--<button type="button" class="btn btn-danger"> Delete All</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="descList">
    <span style="margin-left: 95px;">basic info</span>
    <span style="margin-left: 236px;">total score</span>
    <span style="margin-left:29px;">role</span>
    <span style="margin-left:111px;">date created</span>
  </div>
  <div class="row">
    <ul class="users-list" *ngFor="let user of data| async; let i = index">
      <li id="user.user_id">
        <div id="checkActive"><span class="details">Active :
      </span><label><input type="checkbox" id="check" [checked]="false" (click)="check(i, $event.target.checked, user.id)"></label>
        </div>
        <!--#delete [checked]="delete" (change)="delete=!delete" (click)="showButton()" -->

        <img [src]="'http://192.168.151.36:8000/' +user.Path" class="profilePic" alt="no image">
        <div *ngIf="!user.isSelected "><p class="name"><span (click)="user.isEditable=!user.isEditable"> {{user.FirstName}} {{user.LastName}}</span><span
          class="useremail"><span class="details">E-mail : </span>{{user.Mail}}</span></p>
        </div>
        <div *ngIf="user.isSelected  "><label><input type="text" name="firstName" id="firstName" [(ngModel)]="user.FirstName"
                                              placeholder="first name">
          <input type="text" id="lastname" name="lastName" [(ngModel)]="user.LastName" placeholder="last name"> </label>
        </div>
        <span class="score"><span class="details">Total score : </span> {{ user.Points }} </span>
        <div *ngIf="edit==false">
          <div id="tags" style="float:right!important;">
            <div *ngIf="user.Admin==true">Admin</div>
            <div *ngIf="user.Admin==false"> User</div>
          </div>
        </div>
        <div *ngIf="edit==true">
          <div *ngIf="user.Admin==true"><label (click)="makeAdmin(user)">Admin</label></div>
          <div *ngIf="user.Admin==false"><label (click)="makeAdmin(user)">User</label></div>
        </div>
        <span class="datecreated"><span class="details">Date created : </span>{{user.createdAt}}</span>

        <ul class="minCtrl">
          <li><i class="far fa-edit"></i>Edit</li>
          <li><i class="far fa-trash-alt"></i>Delete</li>
          <!--<span [hidden]="user.roles==1"><li>-->
          <li>   <i class="fas fa-key"></i>Make Admin</li>
          <!--</li></span>-->
          <!--<span [hidden]="user.roles==0"><li><i class="fas fa-key"></i>Remove Admin</li></span>-->
        </ul>
        <div *ngIf="edit==true">
          <button type="button" class="btn btn-danger " id="danger" >Save</button>
        </div>
        <div *ngIf="edit==false">
      <span class="opt"><a style="cursor: pointer;"><i class="fas fa-ellipsis-h" (click)="openMenu()"></i></a>
       <div [hidden]="false" class="editUser" *ngIf="open==true">
            <ul>
          <li> <i class="far fa-edit"></i><button type="button" class="btn btn-primary" (click)="edity(user)" >Edit </button></li>
           <li><i class="far fa-trash-alt"></i><button type="button" class="btn" (click)="delete(user.id)">Delete</button></li>
           <li><i class="fas fa-key"></i><button type="button" class="btn"><div *ngIf="user.Admin==false"
                                                         div                                      (click)="makeAdmin(user)">Make An Administrator</div>
             <div *ngIf="user.Admin==true" (click)="makeAdmin(user)">Remove Administrator</div></button></li>
              <!--<span [hidden]="user.roles==0"><li><i class="fas fa-key"></i>Remove Administrator</li></span>-->
         </ul>
       </div>
     </span>
        </div>
      </li>
    </ul>
  </div>
</div>

