.container {
  margin-top: 2em;
  text-align: justify;
  padding-left: 2.5em;
}

.chapter {
  color: blue;
  font-size: 10px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.content {
  font-weight: lighter;
  color: grey;
}

.pdd {
  padding-top: 5em;
}

.btndiscover {
  width: 18em;
}

.pdd2{
  padding-left: 17em;
}

.pdd3 {

}
