<app-page-header> </app-page-header>

<app-page-section-small [title]="title|async" [subtitle]="subtitle|async" [categoryTitle]="categoryTitle|async" [categoryBackground]="categoryBackground|async" [showCourse]="true"></app-page-section-small>

<div class="container">
  <div class="row" *ngIf="admin">
    <div class="col col-md-6"></div>
    <div class="col col-md-4 divinline2">
      <button class="btnstart btnleft" (click)="adminOp(1)"> <i class="fa fa-trash-alt"></i> Delete </button>
      <button class="btnstart btnright" (click)="adminOp(2)"> <i class="fa fa-edit"></i> Edit </button>
      <button class="btnstart margin" (click)="adminOp(3)"> <i class="fa fa-plus-square"></i> Create </button>
    </div>
  </div>

  <div class="alert alert-success" *ngIf="add">
    <strong>Success!</strong> Chapter was added.
  </div>

  <div class="alert alert-info" *ngIf="delete">
    <strong>Success!</strong> Chapter with id {{ chapter_id }} was deleted.
  </div>

  <div class="alert alert-danger" *ngIf="error">
    <strong>Error!</strong> Chapter with id {{ chapter_id }} does not exist in course with id {{ course_id }}. Please choose another category.
  </div>

  <div class="alert alert-warning" *ngIf="!len; else found">
    <strong>Warning!</strong> There are no chapters in this course.
  </div>
  <ng-template #found>
    <div class="row" *ngFor="let chapter of chapters | async; let i = index">
      <div class="col-xs-1 col-md-2"></div>
      <div class="col-xs-10 col-md-7">
        <div class="row">
            <p class="chapter"> CHAPTER {{ i+1 }} </p>
            <p class="title"> {{ chapter.Title }} </p>
            <p class="content"> {{ chapter.Content | short }}  </p>
          <hr>
        </div>
      </div>
      <div class="col-xs-1 col-md-3 pdd"> <button class="btnstart" (click)="loadPage(chapter.id)"> Start </button> </div>
    </div>

    <div class="row" *ngIf="len > 6">
      <div class="col col-md-4"></div>
      <div class="col-col-md-3 pdd2"><button class="btndiscover" (click)="load()"> {{ text }} </button></div>
      <div class="col col-md-5"></div>
    </div>
  </ng-template>
</div>
