.container {
  margin-top: 2em;
  text-align: justify;
  padding-left: 2.5em;
}

.chapter {
  color: blue;
  font-size: 10px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.content {
  font-weight: lighter;
  color: grey;
}

.pdd {
  padding-top: 2em;
}

.btndiscover {
  width: 18em;
}

.pdd2{
  padding-left: 17em;
}

.divinline2>button{
  float: right;
  clear: none;
}

.margin{
  margin-right: 1em;
}

.btnstart {
  width: 6em;
  margin-bottom: 2em;
  color: grey;
  border-color: grey;
}

.btnstart:hover{
  color: white;
  border-color: darkblue;
}

.btndiscover{
  margin-right: 1em;
}
