<app-page-header></app-page-header>
<app-page-section-small [title]="title | async" [noChapter]="noChapter + 1" [chapter]="true"></app-page-section-small>
<div class="container">
  <div class="row" *ngIf="isAdmin">
    <div class="col col-md-6"></div>
    <div class="col col-md-4 divinline2">
      <button class="btnstart btnleft" (click)="admin(1)"> <i class="fa fa-trash-alt"></i> Delete </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 content">
      {{ content | async }}
    </div>
  </div>

  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-4">
      <button class="btndiscover" (click)="load(4)"> Chapter Quiz </button>
    </div>
    <div class="col col-md-4 divinline2">
      <button class="btndiscover" *ngIf="next !== undefined; else finish" (click)="load(2)"> Next chapter </button>
      <ng-template #finish>
        <button class="btndiscover" (click)="load(3)"> Quiz </button>
      </ng-template>
      <button class="btndiscover" *ngIf="prev !== undefined" (click)="load(1)"> Previous chapter </button>
    </div>
  </div>

</div>
